.card-container {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
}

.card-title {
  color: white;
  font-size: 1.6rem;
  margin: 0px;
  margin-bottom: 1rem;
  font-weight: bold;
}

.card-content {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}