.grid-layout {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  gap: 1rem;
  flex-grow: 1;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item1 {
  grid-column: 1 / 4;
  grid-row: 1 / 8;
}

.item2 {
  grid-column: 4 / 5;
  grid-row: 1 / 8;
  display: flex;
  flex-direction: column;
}

.item3 {
  grid-column: 3 / 5;
  grid-row: 8 / 15;
  display: flex;
  flex-direction: column;
}

.item7 {
  display: flex;
  grid-column: 1 / 6;
  grid-row: 15 / 22;
}

@media (max-width: 2100px) {
  .item3 {
    grid-row: 8 / 14;
  }
}

@media (max-width: 1600px) {
  .item3 {
    grid-row: 8 / 13;
  }
}

@media (max-width: 1350px) {
  .item3 {
    grid-row: 8 / 12;
  }
}

@media (max-width: 1000px) {
  .item3 {
    grid-row: 8 / 11;
  }
}